# Node
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Build
/dist
/backend/dist
/frontend/build

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Database
*.sqlite
*.db

# Coverage
coverage/

# Misc
uploads/
